<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>EggMuri</h1>
            <p>에그머리~~</p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>